.field {
    display: flex;
    flex-direction: column;
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    
}

#submitRequest {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(111, 72, 227);
    color: rgb(230, 220, 255);
    font-size: 1rem;
}

.label {
    display: flex;
    font-size: 17px;
}



